@import "var";

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body {
	background-color: $body-bg;
	font-weight: normal;
  	font-family: "Raleway script=all rev=2", "Adobe Blank", sans-serif;;
  	font-size: 14px;
}

.wrapper {
	width: $wrapper-width;
	height: $wrapper-height;
	margin: 0 auto;
	overflow: auto;
	position: relative;
}

.registration-bg {
	background-image: $registration-bg;
}

.row {
	.column1 {
		width: 50%;
		float: left;
	}
	.column2 {
		width: 50%;
		float: left;
	}
}

form {
	.required, .error {
		color: #fe2310;
	}
	label {
		display: block;
	}
	input[type=text], input[type=email], input[type=file]  {
		background-color: #ffe240;
		height: 20px;
		border: none;
		display: block;
		width: 100%;
	}
	.form-group {
		margin: 5px 0;
	}
	.submit {
		color: #fff;
		background-color: #df2529;
		padding: 5px 10px;
		font-weight: bold;
		font-size: 18px;
		border: 1px solid #000;
		float: right;
	}
}

.registration-logo {
	img {
		width: 200px;
		height: auto;
		margin: 10px;
	}
}

.registration-form, .gallery-form, .upload-form {
	background-color: rgba(255, 255, 255, 0.9);
	margin: 5px;
	min-height: 500px;
	height: 100%;
	-webkit-box-shadow: inset 0px 0px 52px -13px rgba(0,0,0,0.75);
	-moz-box-shadow: inset 0px 0px 52px -13px rgba(0,0,0,0.75);
	box-shadow: inset 0px 0px 52px -13px rgba(0,0,0,0.75);
	padding: 10px 30px;
}

.gallery {
	img {
		width: 150px;
		height: auto;
		border: 2px solid #000;
	}
}

.title {
	text-align: center;
	margin-bottom: 20px;
	p {
		font-weight: 500;
		font-size: 18px;
	}
}

footer {
	position: absolute;
	bottom: 0px;
	left: 0px;
	height: 30px;
	width: 100%;
	background-color: #fff;
	nav {
		ul {
			list-style: none;
			padding: 0;
			margin: 0;
			li {
				padding: 2px 10px;
				float: left;
				display: inline-block;
				a {
					text-decoration: none;
				}
			}
		}
	}
}
